{% extends 'temp/user.html' %}
{% block base %}
<div class="container">

    <h1 align="center">VIEW RATING</h1>

	<table class="table table-bordered">
  <tr>
  <td>USER</td>
  <td>RATING</td>

  </tr>
        {% for obj in ov %}
  <tr>
  <td>{{ obj.fromm.name }}</td>
{#   <td>{{ obj.rating }}</td>#}
     {% if obj.rating == '1' %}
      <td style="color: yellow">&#9733;</td>
          {% elif obj.rating == '2' %}
          <td style="color: yellow">&#9733;&#9733;</td>
          {% elif obj.rating == '3' %}
          <td style="color: yellow">&#9733;&#9733;&#9733;</td>
          {% elif obj.rating == '4' %}
          <td style="color: yellow">&#9733;&#9733;&#9733;&#9733;</td>
          {% else %}
          <td style="color: yellow">&#9733;&#9733;&#9733;&#9733;&#9733;</td>
{% endif %}

  </tr>
    {% endfor %}

</table>
</div>
{% endblock %}