{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{% extends 'temp/admin.html' %}
{% block base %}
<form METHOD="post">
        {% csrf_token %}
	<table align="center">
        {% for x in obval %}
        <tr>
		<td>COMPLAINT</td>
		<td><input type="text" name="cmp" value="{{ x.complaint }}" readonly></td>
	</tr>
        {% endfor %}
	<tr>
		<td>REPLY</td>
		<td> <textarea rows="4" cols="10" name="reply"  class="form-control" required=""></textarea>
		</td>
	</tr>
	<tr>


	</tr>
	<tr>
        <td></td>
		<td><input type="submit" name="submit" value="submit" class="button btn-danger"></td>
    </tr>

    </table>
    </form>
{% endblock %}