{% extends 'temp/user.html' %}
{% block base %}
	<h2 align="center">ADD PAYMENT DETAILS </h2>
<form METHOD="post">
    {% csrf_token %}
	<table align="center" class="table table-bordered">
	<tr>
		<td>PAYMENT MODE</td>
		<td><input type="text" name="pd" class="form-control" value="{{ ok.type }}" readonly="">

		</td>
	</tr>
	<tr>

		<td>AMOUNT</td>
		<td><input type="text" name="DATE" class="form-control" value="{{ ok.payment }}" readonly="">
		</td>
	</tr>



	<tr>
        <td></td>
		<td><input type="submit"  value="PAY" class="button btn-danger" ></td>
    </tr>

    </table>
</form>
{% endblock %}
